.project-detail-system-info {
  margin: 0.875rem 0 0;
}

.project-detail-system-info > div {
  padding: 0.75rem 0;
  border-top: 0.0625rem solid #edf6fa;
}

.project-detail-system-info dt {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  color: #1c3a4a;
  font-size: 0.85rem;
  font-weight: 700;
}

.project-detail-system-info dd {
  margin: 0.4375rem 0 0;
  color: #66808c;
  font-size: 0.85rem;
  font-weight: 400;
}
