.project-detail-fields dt,
.client-detail-contact dt {
  color: #1c3a4a;
  font-weight: 700;
}

.project-detail-fields dd,
.client-detail-contact dd {
  color: #66808c;
  font-weight: 400;
}

.client-detail-contact dd a {
  font-weight: 400;
}
